.controls {
    display: flex;
}

.input-field {
  width: 20rem;
  margin: 1rem;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

mat-card {
  width: 30rem;
  margin: 1rem;
}

.checkbox-margin {
  margin: 0 10px;
}

.button-row {
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 1.5rem 0.5rem;
}