.controls {
    display: flex;
}

.input-field {
  width: 200px;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.checkbox-margin {
  margin: 0 10px;
}

.button-row {
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}